.dataTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #993b5f;
  height: 120px;
  width: 100%;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.dataText {
  padding: 40px 20px;
  font-size: 32px;
  color: #fff;
  height: 120px;
  margin: auto;
  @media screen and (max-width: 750px) {
    padding: 30px 12px;
    font-size: 20px;
  }
  @media screen and (max-width: 350px) {
    padding: 38px 8px;
    font-size: 16px;
  }
}

.dataRight {
  display: flex;
  align-items: center;
}

.dataAdmin {
  margin-right: 16px;
  cursor: pointer;
}


.dataLogoutButton button {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    width: 116px;
    height: 64px;
    background-color: #565A5C;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    @media screen and (max-width: 750px) {
      width: 70px;
      height: 45px;
      margin-top: 0;
    }
  
    @media screen and (max-width: 375px) {
      width: 46px;
      height: 50px;
      font-size: 6px;
    }
}

.dataLogoutButton button:hover {
  color: #565A5C;
  background-color: #fff;
  border: 1px solid #565A5C;
}

.dataName {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 38px 0 0 38px;
}

.dataNameTitle {
  margin-left: 180px;
}



.dataCompanyTitle {
  margin-left: 160px;
}

.dataMailTitle {
  margin-left: 130px;
}

.dataAffairTitle {
  margin-left: 120px;
}

.dataCorporatesStructureTitle {
  margin-left: 128px;
}

.dataInquiryTitle {
  margin-left: 120px;
}

.dataStatusTitle {
  margin-left: 102px;
}

.dataDateTitle {
  margin-left: 60px;
}

.dataEditDateTitle {
  margin-left: 70px;
}

.dataContainer {
  white-space: nowrap;
  overflow-x: scroll;
  border: solid 0.01px #696969;
  height: 100vh;
}

.dataForms {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  background-color: #F9F0F5;
  width: 100%;
  min-width: 2230px;
}


.dataForms span {
  display: inline-block;
  width: 14.2em;
  overflow-x: scroll;

  
}

.dataIDForm {
  text-decoration: underline;
  cursor: pointer;
}

.dataCompanyForm {
  margin-left: -35px;
}


.dataTelTitle {
  margin-left: 116px;
}

.dataCorporatesStructureForm {
  margin-left: -52px;
}

.dataAffairForm {
  margin-left: -41px;
}



.dataInquiryForm {
  margin-left: -43px;
}

.dataDateForm {
  margin-left: -103px;
}

.dataEditDateForm {
  margin-left: -108px;
}

.dataStatusForm select {
  border-radius: 5px;
  cursor: pointer;
}

.dataDeleteButton {
  margin-left: -112px;
}

.dataDeleteButton button {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  width: 50px;
  background-color: #ce2916;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  border-color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.dataDeleteButton button:hover {
  color: white;
  background-color: #ce1d16;
  border: 1px solid #979899;
}

.dataEditButton {
  margin-left: -175px;
}

.dataEditButton button {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  width: 50px;
  background-color: #696565;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  border-color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  
}

.dataSortButton select {
  margin: 40px 0 0 20px;
  border-radius: 5px;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  height: 24px;
  background-color: #b0757a;
  color: white;
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

}

.dataStatusButton select {
  margin: 40px 0 0 8px;
  border-radius: 5px;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  height: 24px;
  background-color: #605253;
  color: white;
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 120px;

}

