

.header {
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: #fff;
}




.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-ul {
  display: flex;
  li {
    margin-left: 24px;
  }
}

.header-ul li:hover {
  opacity: 0.6;
}

.header-nav {
  @media screen and (max-width: 750px) {
    display: none;
    
    }
}





    // ハンバーガー
    @media (max-width: 1024px) {
      .header {
        position: fixed;
        nav {
          display: none;
        }
      }
    }
    
    .humburger {
      background-color: rgb(34, 35, 36);
      color: white;
      padding: 10px 5px 0 5px;
      display: none;
      cursor: pointer;
      position: fixed;
      top: 20px;
      right: 40px;
      span {
        background-color: white;
        width: 30px;
        height: 1px;
        display: block;
        margin-bottom: 7px;
        &:nth-child(1) {
          width: 20px;
          margin-left: 10px;
        }
      }
      p {
        font-size: 13px;
        margin-top: -4px;
        margin-bottom: 5px;
      }
    }
    .drawerMenu {
      display: none;
      width: 0;
      color: white;
      background-color: rgb(34, 35, 36);
    
      transition: 0.5s;
      height: 0;
      opacity: 0;
      z-index: -100;
      &.open {
        height: 100vh;
        opacity: 1;
        z-index: 100;
      }
    }
    
    @media (max-width: 1024px) {
      .header {
        padding: 0 20px;
        .logo {
          margin-top: 25px;
        }
      }
      .container {
        margin: 0 0 0 auto;
        .humburger {
          display: block;
        }
      }
      .drawerMenu {
        display: block;
        width: 96%;
        position: fixed;
        top: 0;
        ul {
          width: 90%;
          margin: 0 auto;
          li {
            margin-bottom: 25px;
            opacity: 0.8;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 200;
          }
        }
      }
      .mobileLogo {
        width: 250px;
        height: 80px;
        display: inline-block;
        position: absolute;
        top: 0px;
      }
      .mainTitle {
        font-size: 28px;
        margin-bottom: 5px;
        letter-spacing: 2px;
      }
      .subTitle {
        font-size: 15px;
      }
      .close {
        cursor: pointer;
        margin-top: 28px;
        padding-right: 5px;
        span {
          background-color: white;
          width: 30px;
          height: 1px;
          display: block;
          margin-bottom: 10px;
          margin: 0 0 10px auto;
          &:first-child {
            transform: translateY(6px) rotate(150deg);
          }
          &:nth-child(2) {
            transform: translateY(-6px) rotate(-150deg);
            margin-bottom: 0;
          }
        }
        p {
          text-align: right;
          font-size: 11px;
          padding-right: 1px;
        }
      }
    }
    @media (max-width: 600px) {
      .header {
        padding: 0 20px;
      }
      .humburger {
        top: 15px;
        right: 20px;
      }
      .mobileLogo {
        width: 190px;
        height: 60px;
        top: 10px;
      }
    }
    @media (max-width: 340px) {
      .header {
        padding: 0 10px;
        .logo {
          width: 170px;
          height: 60px;
        }
      }
    }
    

.site-title {
  font-size: 32px;
  padding: 20px 0;
  font-family:"Helvetica";
  @media screen and (max-width: 750px) {
    font-size: 22px;
    }
}

.section-title {
  font-weight: normal;
  text-align: center;
  padding-top: 40px;
}

.section-title .en {
  font-size: 32px;
  display: block;
}

.section-title .ja {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title .ja:before,
.section-title .ja:after {
  content: "";
  width: 8px;
  border-top: 1px solid;
}

.section-title .ja:before {
  margin-right: 5px;
}

.section-title .ja:after {
  margin-left: 1px;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 750px) {
    max-width: 375px;
    padding: 0 15px;
    }
  
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

.hide{
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0.5s;
}

.mainvisual {
  background-image: url(/images/main-portfolio.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 130px 0 50px;
  @media screen and (max-width: 750px) {
    padding: 114px 0 40px;
    }
}

.mainvisualContainer {
  display: flex;
  align-items: center;
  @media screen and (max-width: 750px) {
  flex-direction: column-reverse;
  }
}

.mainvisual Image {
  @media screen and (max-width: 750px) {
    width: 375px;
    height: auto;
    margin-top: 24px;
    }
}

.mainvisualImage {
  width: 960px;
  height: 380px;
  @media screen and (max-width: 750px) {
    width: 375px;
    height: auto;
    margin-top: 24px;
    }
    @media screen and (max-width: 360px) {
      width: 260px;
    }
}

.mainvisual-textunit {
  margin-left: 48px;
  padding-bottom: 12px;
  @media screen and (max-width: 750px) {
    margin-left: 0;
    }
}

.mainvisual-title {
  font-size: 50px;
  font-family:"Helvetica";
  @media screen and (max-width: 750px) {
    font-size: 42px;
    }
}


.mainvisual-text {
  line-height: 24px;
  margin-top: 8px;
  @media screen and (max-width: 750px) {
    margin-top: 16px;
    text-align: justify;
    font-size: 16px;
    }
}

/* service */


.service-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    align-items: center;
  }
}

.service-list {
  text-align: center;
  border: 0 solid #fff;
  box-shadow: 4px 4px 24px rgb(0 0 0 / 12%);
  border-width: 28px;
  @media screen and (max-width: 820px) {
    border-width: 10px;
  }
  @media screen and (max-width: 768px) {
    border-width: 3px;
  }
}

.service-list:nth-of-type(1) {
  margin-top: 16px;
  @media screen and (max-width: 750px) {
    border-width: 10px;
  }
  @media screen and (max-width: 540px) {
    border-width: 54px;
  }
}
.service-list:nth-of-type(2) {
  margin-top: 82px;
  @media screen and (max-width: 750px) {
    margin-top: 48px;
    border-width: 51.7px;
  }
}

.service-list:nth-of-type(3) {
  margin-top: 164px;
  @media screen and (max-width: 750px) {
    margin-top: 48px;
    border-width: 49.6px;
    
  }
}

.service-title {
  margin-top: 12px;
  font-size: 20px;
}

.service-text {
  text-align: justify;
  margin-top: 12px;
  line-height: 24px;
  @media screen and (max-width: 340px) {
    br {
      display: none;
    }
  }
  @media screen and (max-width: 280px) {
    font-size: 15px;
  }
}

/* about */


.about {
  margin-top: 0px;
  // margin-top: 96px;
  background-color: #c9d9e6;
  padding-bottom: 40px;
  
}

.about-container {
  display: flex;
  padding: 0 60px;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    padding: 0;
    }
}

.about-image {
  margin-top: 54px;
  object-fit: cover;
  padding-left: 20px;
  height: 400px;
  @media screen and (max-width: 750px) {
    width: 325px;
    height: auto;
    margin-top: 32px auto;
    padding-left: 0;
    object-fit: cover;
    }
    @media screen and (max-width: 414px) {
      width: 340px;
      margin: 32px auto;
    
      }

    @media screen and (max-width: 384px) {
      width: 300px;
      margin: 32px auto;
    
      }
    @media screen and (max-width: 350px) {
      width: 250px;
      margin: 32px auto;
    
      }
}

.about-textunit {
  padding: 0 20px 0 50px;
  margin-top: 40px;
  @media screen and (max-width: 750px) {
    padding: 0;
    margin-top: 16px;
    }
}

.about-text {
  text-align: justify;
  line-height: 24px;
  margin-top: 8px;
  @media screen and (max-width: 750px) {
    margin-top: 16px;
    }
}

.about-qa {
  font-size: 18px;
  margin-top: 8px;
}




/* acordion */
.accordionHead {
  height: 50%;
  background-color: white;
}

.accordion {
  margin-top: 8px;
  width: 80%;

}

.accordionButton {
  padding: 10px;
}

.accordionPanel {
  padding: 5px;
}


/* works */



.swiper-container {
  position: relative;
  margin-top: 40px;
  text-align: center;
}

.swiper {
  width: calc(100% - 100px);
  box-sizing: content-box;
}



.swiperSlide:hover {
  opacity: 0.5;
}

.swiperSlide Image {
  text-align: center;
  object-fit: cover;
  height: 360px;
  @media screen and (max-width: 750px) {
    width: 235px;
    height: 200px;
  }

}

.swiper-pagination span {
  margin-left: 4px;
  padding: 9px;
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
  text-align: center;
}



.works-button {
  text-align: center;
  padding-bottom: 40px;
  @media screen and (max-width: 750px) {
    padding-bottom: 40px;
  }
}


.works-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 48px;
}

.works-button input:hover {
  background-color: #fff;
  color: #339C64;
  border: 1px solid #339C64;
  
}



/* contact */

.contact {
  
  background-color: #c9d9e6;
  padding-bottom: 82px;
  

  
  
}

.contact-container {
  width: 480px;
  margin: 0 auto;
  margin-top: 8px;
  @media screen and (max-width: 750px) {
    width: 100%;
  }
  dt {
    text-align: left;
    padding-top: 24px;
  }
}



.contact-container span {
  color: #E90000;
}

.contact-container input {
  background-color: #fff;
  width: 100%;
  height: 48px;
  margin-top: 8px;
  border-radius: 5px;
}

.contact-container textarea {
  background-color: #fff;
  width: 100%;
  height: 140px;
  margin-top: 8px;
  border-radius: 5px;
}

.placeholder {
  padding: 12px 0 0 16px;
  color: #ccc;
}

.contact-button {
  text-align: center;
}

.contact-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 32px;

}

.contact-button input:hover {
  color: #339C64;
  background-color: #fff;
  border: 1px solid #339C64;
}

.contactButtonFlex {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 750px) {
    display: block;
    text-align: center;
  }
}

.contactAdminButton input {
  width: 188px;
  height: 60px;
  background-color: #993b5f;
  color: #fff;
  border-radius: 10px;
  margin-top: 32px;

}

.contactAdminButton input:hover {
  color: #993b5f;
  background-color: #fff;
  border: 1px solid #993b5f;
}

.footer p {
  font-size: 12px;
  text-align: center;
  padding: 32px 0;
  @media screen and (max-width: 750px) {
    font-size: 8px;
  }
}

