.showTitle {
  background-color: #993b5f;
  height: 120px;
  width: 100%;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.showText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #fff;
  height: 120px;
  margin: auto;
}

.showName {
  font-size: 30px;
  
}

.showFurigana {
  font-size: 8px;
}



.showBox1 {
  display: flex;
  justify-content: space-evenly;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 50px 5.5% 0 3%;

  @media screen and (max-width: 820px) {
    margin: 50px 6.5% 0 3%;
  }

  @media screen and (max-width: 750px) {
    display: block;
  }
}

.showBox2 {
  display: flex;
  justify-content: space-evenly;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 12px 20% 0 20%;
  font-size: 18px;
  @media screen and (max-width: 1280px) {
    margin: 12px 19.5% 0 20%;
  }

  @media screen and (max-width: 1025px) {
    margin: 12px 18% 0 20%;
  }

  @media screen and (max-width: 1000px) {
    margin: 12px 15.5% 0 20%;
  }

  @media screen and (max-width: 912px) {
    margin: 12px 17.5% 0 20%;
  }
  
  @media screen and (max-width: 750px) {
    margin: 12px 5% 0 3%;
    display: block;

  }
  
}

.showStatusContainer {
  font-size: 16px;

}

.showBox3 {
  display: flex;
  justify-content: space-evenly;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 12px 17% 0 20%;
  font-size: 16px;
  
  @media screen and (max-width: 1280px) {
    margin: 12px 14.5% 0 19%; 
    
  }
  
  
  
  @media screen and (max-width: 750px) {
    display: block;
    margin: 12px 20% 0 3%;
  }

}

.showBox4 {
  display: flex;
  justify-content: space-evenly;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 12px 23% 0 0;
  font-size: 16px;
  @media screen and (max-width: 1280px) {
    margin: 12px 22.5% 0 0; 
    
  }

  @media screen and (max-width: 1025px) {
    margin: 12px 20% 0 0 ;
  }

  @media screen and (max-width: 1000px) {
    margin: 12px 16.5% 0 0;
  }

  @media screen and (max-width: 912px) {
    margin: 12px 18.5% 0 0;
  }
  
  @media screen and (max-width: 750px) {
    margin: 12px 22px 0 3%;
    display: block;
  }
  
}

.showBox5 {
  display: flex;
  justify-content: space-evenly;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 12px 25.5% 0 0;
  font-size: 16px;
  
  @media screen and (max-width: 1280px) {
    margin: 12px 25% 0 0;
    min-width: initial;
  }

  @media screen and (max-width: 1025px) {
    margin: 12px 23% 0 0 ;
  }

  @media screen and (max-width: 1000px) {
    margin: 12px 20.5% 0 0;
  }

  @media screen and (max-width: 912px) {
    margin: 12px 22% 0 0;
  }

  
  @media screen and (max-width: 750px) {
    margin: 3.5%;
    display: block;
  }
  
}

.showBox6  {
  display: flex;
  justify-content: space-evenly;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin: 12px 17% 0 20%;
  font-size: 16px;

  @media screen and (max-width: 1280px) {
    margin: 12px 14.5% 0 19%; 
    
  }

  @media screen and (max-width: 750px) {
    margin: 12px 0 0 3.5%;
    display: block;
  }
}

.showEditButton {
  text-align: center;
  display: block;
}

.showEditButton button {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  width: 188px;
  height: 60px;
  background-color: #979899;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.showEditButton button:hover {
  color: #979899;
  background-color: #fff;
  border: 1px solid #979899;
}

.showBackButton {
  text-align: center;
  display: block;
  
}

.showBackButton button {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  width: 188px;
  height: 60px;
  background-color: #87bccc;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.showBackButton button:hover {
  color: #87bccc;
  background-color: #fff;
  border: 1px solid #87bccc;
}

.showBox1 div input {
  border-radius: 5px;
  height: 48px;
  width: 102%;
  border: 1px solid rgb(210, 201, 201);
  margin-top: 5px;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.showBox2 p input {
  border-radius: 5px;
  height: 48px;
  width: 100%;
  border: 1px solid rgb(210, 201, 201);
  margin-top: 5px;
  font-size: 13px;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", 
  "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

}

.showBox4 p textarea {
  height: 100px;
  width: 110%;
  border-radius: 5px;
  border: 1px solid rgb(210, 201, 201);
  @media screen and (max-width: 750px) {
    width: 100.3%;
    height: 120px;
  }
}

.showContainer input {
  padding-left: 6px;
}

.showContainer textarea {
  padding-left: 6px;
}

