.header {
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: #fff;
}




.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-ul {
  display: flex;
  li {
    margin-left: 24px;
  }
}

.header-ul li:hover {
  opacity: 0.6;
}

.header-nav {
  @media screen and (max-width: 750px) {
    display: none;
    
    }
}





    // ハンバーガー
    @media (max-width: 1024px) {
      .header {
        position: fixed;
        nav {
          display: none;
        }
      }
    }
    
    .humburger {
      background-color: rgb(34, 35, 36);
      color: white;
      padding: 10px 5px 0 5px;
      display: none;
      cursor: pointer;
      position: fixed;
      top: 20px;
      right: 40px;
      span {
        background-color: white;
        width: 30px;
        height: 1px;
        display: block;
        margin-bottom: 7px;
        &:nth-child(1) {
          width: 20px;
          margin-left: 10px;
        }
      }
      p {
        font-size: 13px;
        margin-top: -4px;
        margin-bottom: 5px;
      }
    }
    .drawerMenu {
      display: none;
      width: 0;
      color: white;
      background-color: rgb(34, 35, 36);
    
      transition: 0.5s;
      height: 0;
      opacity: 0;
      z-index: -100;
      &.open {
        height: 100vh;
        opacity: 1;
        z-index: 100;
      }
    }
    
    @media (max-width: 1024px) {
      .header {
        padding: 0 20px;
        .logo {
          margin-top: 25px;
        }
      }
      .container {
        margin: 0 0 0 auto;
        .humburger {
          display: block;
        }
      }
      .drawerMenu {
        display: block;
        width: 96%;
        position: fixed;
        top: 0;
        ul {
          width: 90%;
          margin: 0 auto;
          li {
            margin-bottom: 25px;
            opacity: 0.8;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 200;
          }
        }
      }
      .mobileLogo {
        width: 250px;
        height: 80px;
        display: inline-block;
        position: absolute;
        top: 0px;
      }
      .mainTitle {
        font-size: 28px;
        margin-bottom: 5px;
        letter-spacing: 2px;
      }
      .subTitle {
        font-size: 15px;
      }
      .close {
        cursor: pointer;
        margin-top: 28px;
        padding-right: 5px;
        span {
          background-color: white;
          width: 30px;
          height: 1px;
          display: block;
          margin-bottom: 10px;
          margin: 0 0 10px auto;
          &:first-child {
            transform: translateY(6px) rotate(150deg);
          }
          &:nth-child(2) {
            transform: translateY(-6px) rotate(-150deg);
            margin-bottom: 0;
          }
        }
        p {
          text-align: right;
          font-size: 11px;
          padding-right: 1px;
        }
      }
    }
    @media (max-width: 600px) {
      .header {
        padding: 0 20px;
      }
      .humburger {
        top: 15px;
        right: 20px;
      }
      .mobileLogo {
        width: 190px;
        height: 60px;
        top: 10px;
      }
    }
    @media (max-width: 340px) {
      .header {
        padding: 0 10px;
        .logo {
          width: 170px;
          height: 60px;
        }
      }
    }
    




.worksunder-mainvisual {
    background-image: url(/images/works-main.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 403px 20px;
    @media screen and (max-width: 750px) {
      padding: 230px 20px;
      }
  }

  

  .worksunder-textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
  }

  .worksunder-title {
    font-size: 48px;
    color: #fff;
    border: 1px solid #339C64;
    background-color: #339C64;
    border-width: 12.5px;
    @media screen and (max-width: 750px) {
      font-size: 32px;
      border-width: 5px;
      }
  }

  .worksunder-block {
    margin-top: 78px;
    margin-left: -40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 1000px) {
      display: block;
      text-align: center;
    }
    @media screen and (max-width: 750px) {
      margin-top: 0;
    }
  }

  .worksunder-list:nth-of-type(1) {
    @media screen and (max-width: 750px) {
      margin-top: 56px;
    }
  }

  .worksunder-list:nth-of-type(2) {
    @media screen and (max-width: 750px) {
      margin-top: 56px;
    }
  }

  .worksunder-list:nth-of-type(3) {
    margin-top: 100px;
    @media screen and (max-width: 750px) {
      margin-top: 56px;
    }
  }

  .worksunder-list:nth-of-type(4) {
    margin-top: 100px;
    @media screen and (max-width: 750px) {
      margin-top: 56px;
    }
  }

  .worksunder-list:nth-of-type(5) {
    margin-top: 100px;
    @media screen and (max-width: 750px) {
      margin-top: 56px;
    }
  }

  .worksunder-list:hover {
    opacity: 0.5;
  }

  .worksunder-image {
    height: 400px;
    
    @media screen and (max-width: 750px) {
      width: 345px;
      height: 320px;
      object-fit: cover;
    }
  }

  .worksunder-button {
    text-align: center;
    padding-bottom: 60px;
    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  .worksunder-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 42px;
  cursor: pointer;
  }

  .worksunder-button input:hover {
  background-color: #fff;
  color: #339C64;
  border: 1px solid #339C64;
  }
  
  .worksunder-pagenation {
    margin-top: 64px;
    font-size: 20px;
    padding-right: 20px;
    @media screen and (max-width: 750px) {
      margin-top: 80px;
      padding-bottom: 46px;
    }
  }

  .worksunder-pagenation2 {
    margin-top: 62px;
    font-size: 20px;
    padding-left: 30px;
    @media screen and (max-width: 750px) {
      margin-top: 78px;
      padding-bottom: 46px;
    }
  }

  .worksunder-pagenation:hover {
    opacity: 0.5;
  }

  .worksunder-pagenation2:hover {
    opacity: 0.5;
  }
  
  .worksunder-pagebox {
    display: flex;
    justify-content: center;
  }
  

  .section-title {
    font-weight: normal;
    text-align: center;
    padding-top: 40px;
  }
  
  .section-title .en {
    font-size: 32px;
    display: block;
  }
  
  .section-title .ja {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-title .ja:before,
  .section-title .ja:after {
    content: "";
    width: 8px;
    border-top: 1px solid;
  }
  
  .section-title .ja:before {
    margin-right: 5px;
  }
  
  .section-title .ja:after {
    margin-left: 1px;
  }
  
  .wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: 750px) {
      max-width: 375px;
      padding: 0 15px;
      }
    
  }
  
  .footer p {
    font-size: 12px;
    text-align: center;
    padding: 32px 0;
    @media screen and (max-width: 750px) {
      font-size: 8px;
    }
  }